@import "mocha.css"; 

/* ==== GLOBAL OPTIONS ==== */
* {
    border: none;
    font-family: "CaskaydiaCove Nerd Font";
    font-size: 16px;
    min-height: 10px;
    font-weight: bold;
}

window#waybar {
    background-color: rgba(40, 42, 54, 0.2);
}

/* ==== GENERAL OPTIONS FOR VISIBLE MODULES ==== */

#clock,
#cpu,
#memory,
#disk,
#pulseaudio,
#network {
  color: @crust;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

/* ==== CREATE SEPARATIONS ==== */
#clock,
#cpu,
#pulseaudio {
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#clock,
#disk,
#network {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* ==== Specific styles ==== */

/* ==== Modules left ==== */
#clock {
  background: #ABE9B3;
}

#cpu {
  background: #96CDFB;
}

#memory {
  background: #DDB6F2;
}

#disk {
  background: #F5C2E7;
}

/* ==== MODULES CENTER ==== */
#workspaces {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#workspaces button {
  color: #B5E8E0;
  background: transparent;
  padding: 4px 4px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.occupied {
  color: #A6E3A1;
}

#workspaces button.active {
  color: #89B4FA;
  text-shadow: 0 0 4px #ABE9B3;
}

#workspaces button:hover {
  color: #89B4FA;
}

#workspaces button.active:hover {}

/* ==== MODULES RIGHT ==== */
#taskbar {
  background: transparent;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 6px 5px;
}

#taskbar button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

#taskbar button.active {
  background: rgba(34, 36, 54, 0.5);
}

#taskbar button:hover {
  background: rgba(34, 36, 54, 0.5);
}

#pulseaudio {
  min-width: 55px;
  color: #1A1826;
  background: #F5E0DC;
}

#network {
  background: #CBA6F7;
  padding-right: 13px;
}


/*
button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @mauve;
    border-top: 2px solid @mauve;
}

#workspaces button {
    padding: 0 20px;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: @rosewater;
    border-top: 2px solid @rosewater;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: @mauve;
    border-top: 2px solid @mauve;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#clock {
    color: @maroon;
    border-bottom: 2px solid @maroon;
}

#clock.date {
    color: @mauve;
    border-bottom: 2px solid @mauve;
}

#pulseaudio {
    color: @blue;
    border-bottom: 2px solid @blue;
}

#network {
    color: @yellow;
    border-bottom: 2px solid @yellow;
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @red;
}

#battery {
    color: @green;
    border-bottom: 2px solid @green;
} */

/* If workspaces is the leftmost module, omit left margin */
/*
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}
*/

/* If workspaces is the rightmost module, omit right margin */
/*
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#custom-vpn {
    color: @lavender;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}
*/
