# movement
move_up         k
move_down       j
move_left       h
move_right      l
move_left       <right>
move_right      <left>
screen_down     <C-d>
screen_up       <C-u>

# Jumps
goto_beginning  go
goto_end        G

# Highlights
add_highlight H
goto_highlight gh
delete_highlight dh
toggle_select_highlight HH
goto_next_highlight gnh
goto_prev_highlight gNh


